<!DOCTYPE html>
<html lang="en"> </html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta author="Yuxin Yang">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contract Language Screening App</title>
</head>

<body>
    <h1 style='color:blue'> A simple flask server !</h1>

    <form  method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}   
        {{form.submit()}}
    </form>

</body>

